DEBUG=True
SECRET_KEY=your-secret-key

POSTGRES_DB=euro_weather
POSTGRES_USER=euro_weather_user
POSTGRES_PASSWORD=your-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0